html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;
$card-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$card-content-padding: 1.5rem 1.5rem 0.5rem 1.5rem;
$primary: #3276d5;
@import "~bulma/bulma.sass";

$pathLengths: 755, 507, 315, 315, 478, 516, 639, 450, 507, 423, 240, 240, 423;

.fadein {
  color: white;
  opacity: 0;
  animation: fadein 0.5s ease forwards 2.45s;
}
.glowing {
  border-radius: 20%;
  animation: pulse-white 2s infinite;
}

.hero-icon:hover {
  background-color: $dark;
}

#name {
  stroke-linecap: round;
  overflow: visible;
  @for $i from 1 through 13 {
    path:nth-child(#{$i}n) {
      overflow: hidden;
      stroke-dasharray: nth($pathLengths, $i);
      stroke-dashoffset: nth($pathLengths, $i);
      animation: lineFill 0.5s ease forwards #{($i) * 0.15}s,
        shapeFill 0.5s ease forwards 2.45s;
    }
  }
}

@keyframes lineFill {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shapeFill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

#scroll-icon {
  border-radius: 50%;
  opacity: 0;
  animation: fadein 0.5s ease forwards 2.45s, glowing 1300ms infinite;
}
.project-thumb {
  border: grey solid 0.1em;
  border-radius: 1em;
}
.has-border {
  border: black solid 0.3em;
}
.project-thumb:hover {
  border: $link solid 0.3em;
}
hr {
  background-color: $light;
  opacity: 0.5;
}
#about-page {
  div#about {
    margin: 0 1rem;
  }
}
.tech-img {
  border: solid 2px black;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  background: white;
}
.tech {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
}

.rotating-icon {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.rotating-icon.open {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

#wrapper {
  color: $light;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    0deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(25, 22, 84, 1) 30%,
    rgba(67, 198, 172, 1) 100%
  );
  flex: 1;
}

section#projects {
  background: rgb(10, 10, 10);
  background: linear-gradient(
    0deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(25, 22, 84, 1) 30%,
    rgba(67, 198, 172, 1) 100%
  );
}

#main-hero {
  width: 100%;
  background: url("/bg.svg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 140px 0;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    left: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    background-image: url("/wave.svg");
    background-size: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
  }
}

#featured-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .featured-project {
    position: relative;
    display: grid;
    grid-auto-flow: row dense;
    gap: 1rem;
    .project-title {
      border-bottom: solid 1px $light;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    .project-info {
      color: $light;
      z-index: 10;
      display: grid;
      gap: 1rem;
      .project-description {
        padding: 0.5em;
        background: #2c3e50;
        height: min-content;
        &.left {
          position: relative;
          left: 0;
          width: 120%;
        }
        &.right {
          position: relative;
          left: -20%;
          width: 120%;
        }
      }
      .project-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .external-links {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1em;
        }
      }
    }
    &.left-content {
      text-align: left;
      grid-template-columns: 3fr 2fr;
      .project-image {
        text-align: center;
        grid-column: 2;
      }
      .project-info {
        grid-column: 1;
      }
    }

    &.right-content {
      text-align: right;
      grid-template-columns: 2fr 3fr;
      .project-image {
        text-align: center;
        grid-column: 1;
      }
      .project-info {
        grid-column: 2;
      }
    }
  }
  @media only screen and (max-width: $desktop) {
    display: none;
  }
}
#featured-projects-mobile {
  padding: 1rem;
  .card {
    box-sizing: border-box;
    background: #2c3e50;
    .card-image {
      text-align: center;
      .image {
        * {
          max-height: calc(350px - 1rem);
          width: auto;
          margin: auto;
        }
      }
      max-height: 350px;
      margin: auto;
      padding-top: 1rem;
    }
    .card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  @media only screen and (min-width: $desktop + 1) {
    display: none;
  }
}
.project-tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  .project-tech-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  button {
    flex: 1;
  }
  .external-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}

#other-projects {
  background: rgba(255, 255, 255, 0.16);
  display: grid;
}

button.is-outlined {
  border-width: 0.2rem;
}

#navbar {
  z-index: 1000;
  background: #2e3131;
  position: fixed;
  top: 0;
  height: 3.25rem;
  width: 100%;
  padding-bottom: 0.2rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }
  #dropdown {
    z-index: 2000;
    background-color: $primary;
    height: 50vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    li {
      cursor: pointer;
    }
  }
  #main-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .burger {
      z-index: 9999;
      visibility: hidden;
    }
    .navbar-links {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 600px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: white;
      visibility: visible;
      span {
        cursor: pointer;
      }
      span:hover {
        &:not(.current-page) {
          color: darken(white, 25%);
        }
      }
      .nav-link {
        display: block;
        position: relative;
        padding: 0.1rem 0;
      }
      .nav-link.current-page::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: $primary;
      }
      .nav-link.not-current::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background: rgb(131, 58, 180);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
      }

      .nav-link.not-current:hover::after,
      .nav-link.not-current:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.1rem, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    @media only screen and (max-width: $navbar-breakpoint) {
      justify-content: space-between;
      .burger {
        visibility: visible;
      }
      .navbar-links {
        visibility: hidden;
      }
    }
  }
  img {
    height: 2.5rem;
    width: auto;
  }
}
.narrow-container {
  max-width: $desktop + 1;
  margin: auto;
  padding: 0 1rem;
}
.has-background-purple {
  background: rgb(131, 58, 180);
}
